body {
    padding: 20px 20px 20px 50px;
    background-color: rgb(68, 46, 46);
    /* #dddddd */
    color: eebc34;
    /* font: [weight style] size family  */
    font: normal normal 1.125em helvetica, times, 'times new roman', serif;
    /* text-align: center; */
    line-height: 1.5em;
}

header {
    color: #000;
    text-align: justify;
}

.document-link {
    color: red;
}
a {
  text-decoration: none;
  color: yellow;
}

.current-page {
  color: #0D4E0B;
    position:fixed;
    top: 0;
    width: 100%;
    list-style-type:none;
    display:block;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.menu{
   border-right: 2px solid #ddd;
   border-left: 2px solid #ddd;
  color: #666;
  float:left;
}
 .menu a {
  display: inline-block;
  color: darkgreen;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

h1 {
    color: #0D4E0B;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25em;
    font-size: 2em;
    text-align:center;
}

h2 {
    color: #641E16;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 0.125em;
    font-size: 1.50em;
    text-align:center;
}
h3 {
    color: #641E16;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 1em;
    text-align:center;
}

#introduction{
    background-color:#f1e3ee;
}

#professional{
    background-color:#ebf2d4;
}

#personal{
background-color:#a6b8da;
}

.findme {
    background-color:black;
    color: #641E16;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.social {
    height: 1.5em;
    float:center;
    position :relative;
    margin-left:8em;
    z-index:1.5em;
}
.imm {
     height:5em;
    width:30em;
    float:center;
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:1.5em;
    z-index: 2;
   
}
.logo{
    height:3em;
    width:3em;
    float: left;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
p{
    padding: 1em ;
}